@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./fonts/brandon-grotesque.woff') format('woff'),
      url('./fonts/brandon-grotesque.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Abril Fatface';
  src: url('./fonts/abril-fatface.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/raleway.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}


:root {
  --foreground-primary: #000000;
  --foreground-secondary: #a5a5a5;
  --background-primary: #fbe9d599;
  --background-secondary: #ffffffaa;
  --accent-1: ;
  --accent-2: linear-gradient(to bottom right, #a02be4, #7c3aed, #4f46e5);

  --regular-font-primary: 'Raleway', sans-serif;
  --regular-font-secondary: 'Montserrat', monospace;
  --title-font-primary: 'Brandon Grotesque', sans-serif;
  --title-font-secondary: 'Abril Fatface', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--regular-font-primary);
  overflow-y: hidden;
}

@media (orientation: portrait) {
  body {
    overflow-y: initial;
  }
}